<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写文章</title>
    <link rel="stylesheet" th:href="@{/css/common/bootstrap.css}"/>
    <link th:href="@{/manage/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/wangEditor/scripts/wangEditor.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/blog/add-article.js}"></script>
</head>
<body>

<div class="form-group row">
    <div class="col-12">
        <input id="title" class="form-control" type="text" required="" placeholder="请输入标题"  th:name="title">
    </div>
</div>
<div id="editor">
    <h2>正文</h2>
</div>
<div class="form-group text-center row m-t-20">
    <div class="col-12">
        <button id="publish" class="btn btn-info btn-block waves-effect waves-light">发布</button>
    </div>
</div>
<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>
<script th:inline="javascript">


</script>
</body>
</html>