<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" ng-app="listenone">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<title ng-bind="page_title">Template</title>
	</head>

	<body>
	 <!-- <input type="file" id="upImg" accept="image/*" class="">
		<div id="head_pic"></div> -->
		<div class="wrap scroll-el">

			<header class="template-head">
				<div class="create-action">
					<span class="btn btn-default" id="import-html">导入页面</span>
					<span class="btn btn-default " id="download">下载页面</span>
				</div>
				<div class="creat-center">
					<dl class="comp-panel edit-title">
						<dt class="clcomp-panel-icon"><i class="iconfont icon-text"></i></dt>
						<dd class="comp-panel-text">标题</dd>
					</dl>
					<dl class="comp-panel edit-atb">
						<dt class="clcomp-panel-icon"><i class="iconfont icon-share"></i></dt>
						<dd class="comp-panel-text">描述</dd>
					</dl>
					<dl class="comp-panel edit-file">
						<dt class="clcomp-panel-icon"><i class="iconfont icon-file"></i></dt>
						<dd class="comp-panel-text">文件名</dd>
					</dl>
				</div>
				
				<!-- title cover -->
				<div class="title-cover prop">
						<input type="text" placeholder="输入页面标题" id="edit-title">
				</div>
				<!-- atb cover -->
				<div class="atb-cover prop">
						<textarea  placeholder="输入 app 用于分享的描述文字" id="edit-atb"></textarea>
				</div>
				<!-- file cover -->
				<div class="file-cover prop">
						<input type="text" placeholder="生成页面的名字" id="edit-file">
				</div>
			</header>

			<!-- <aside class="aside-left scroll-el aside-bar"></aside> -->
			<aside class="aside-right scroll-el aside-bar">
				<div class="page-manage-bar">
					<h3 class="page-manage-title">页面管理</h3>
					<ul id="pageList" class="page-manage-wrap">
					</ul>
					<div class="page-manage-bottom">
						<span class="btn btn-default" id="add-banner"><i class="iconfont icon-jia"></i>添加一张图片</span>
					</div>
				</div>
			</aside>
			<!-- aside goodsID -->
			<aside class="aside-right aside-bar goods-bar hide-right">
				<h3 class="page-manage-title">
						<span class="close-btn"><i class="iconfont icon-close"></i> 取消并关闭</span>
				</h3>
				<ul class="page-manage-wrap" id="edit-goodsID">
					<!-- <li class="page-manage-item">
						<input type="text" class="input-id" placeholder="输入商品 ID">
						<span class="del-itemid action-item" data-tooltip="删除此项ID"><i class="iconfont icon-del"></i></span>
					</li> -->
				</ul>
				<div class="page-manage-bottom">
					<span class="btn btn-default" id="add-id">增加加 ID</span>
					<span class="btn btn-default" id="save-goodsID">保存</span>
				</div>
				<div class="head">给此图添加一个或多个商品ID，全部删除则表明此图没有跳转ID</div>
			</aside>
			<!-- main -->
			<section class="main">
				<div class="title" id="title">页面标题</div>
				<div id="content" class="scroll-el">
				</div>
				<div id="loading"></div>
			</section>
			<!-- menu cover -->
			
			<!-- input file -->
			<input type="file" id="upImg" accept="image/*">
			<!--change img cover -->
			<div class="import-cover">
				<div class="content-item">
					<div class="notices">
						<div class="bs-callout-warning">
							<h4>请粘贴如上如图所示类似红框内的代码片段</h4>
							<p>请保证代码片段是由本插件生成，而非以前的模板制作，否则必定失败！</p>
						</div>
						<div class="pic-item"><img src="./images/notice.png" alt=""></div>
					</div>
					<textarea id="import-content"></textarea>
					<div class="btn-area">
						<span class="btn btn-default" id="cancel-import">取消</span>
						<span class="btn btn-default" id="generate-dom">确定</span>
					</div>
				</div>
				
			</div>
			<div id="html-content"></div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-1.12.2.js}"></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
</html>
