<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Agency - Responsive Flat Admin Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" th:href="@{/images/manage/faviicon.png}">

        <link th:href="@{/css/manage/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/manage/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/manage/style.css}" rel="stylesheet" type="text/css">

    </head>


    <body>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-block">

                    <div class="ex-page-content text-center">
                        <h1 class="">404!</h1>
                        <h3 class="">找不到页面</h3><br>

                        <a class="btn btn-info mb-5 waves-effect waves-light" th:href="@{/}">回到首页</a>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>