package com.hengtianjf.business.pof.entities.params;

import com.hengtianjf.pojo.pof.PofServicesParamGenericity;

/**
 * @Description ${desc}
 * @Author ${author}
 * @Date ${timestamp}
 **/
public class ${paramClass} extends PofServicesParamGenericity {

    ${paramContent}
}
