<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <title>主页</title>
    <link rel="icon" th:href="@{/assets/images/favicon.ico}">
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spring Security</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${param.login} == null"><a th:href="@{/signup}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li th:if="${param.login} == null"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                <li th:if="${param.login}"><a href="#" onclick="document.getElementById('form_logout').submit()"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
            </ul>
        </div>
    </nav>
</div>
<form id="form_logout" th:action="@{/logout}" th:method="POST" th:class="hide-right"></form>
</body>
</html>