<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Agency - Responsive Flat Admin Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" th:href="@{/images/faviicon.png}">

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center mt-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img th:src="@{/images/logo.png}" height="30" alt="logo"></a>
                    </h3>

                    <h4 class="text-muted text-center font-18"><b>登陆</b></h4>

                    <div class="p-3">
                        <form class="form-horizontal m-t-20" th:action="@{/login}"  th:method="POST">

                            <div class="form-group row">
                                <div class="col-12">
                                    <input name="username" class="form-control" type="text" required="" placeholder="用户名">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input name="password" class="form-control" type="password" required="" placeholder="密码">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">记住我</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-info btn-block waves-effect waves-light" type="submit">登陆</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-sm-7 m-t-20">
                                    <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock    "></i> 忘记密码？</a>
                                </div>
                                <div class="col-sm-5 m-t-20">
                                    <a th:href="@{/signup}" class="text-muted"><i class="mdi mdi-account-circle"></i> 创建新账户</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>