<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
        <title>注册</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link type="text/css" rel="shortcut icon" th:href="@{/manage/images/faviicon.png}"/>

        <link rel="stylesheet" type="text/css" th:href="@{/manage/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/manage/css/icons.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/manage/css/style.css}"/>

    </head>


    <body>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center mt-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img th:src="@{/manage/images/logo.png}" height="30" alt="logo"></a>
                    </h3>

                    <h4 class="text-muted text-center font-18"><b>注册</b></h4>

                    <div class="p-3">
                        <form class="form-horizontal m-t-20" th:action="@{/signup}" th:method="POST" >

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="email" required="" placeholder="邮箱" th:name="email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="text" required="" placeholder="用户名" th:name="username">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="password" required="" placeholder="密码" th:name="password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label font-weight-normal" for="customCheck1">我接受 <a href="#" class="text-muted">用户服务条款</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-info btn-block waves-effect waves-light" type="submit">注册</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-12 m-t-20 text-center">
                                    <a th:href="@{/login}" class="text-muted">已经有账户了?</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>