<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/xadmin/font.css}">
        <link rel="stylesheet" th:href="@{/css/xadmin/xadmin.css}">
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <div class="qlogin_list" id="qlogin_list" style="width: 300px;">
            <span id="qr_area" class="qr_0">
                <img id="qrlogin_img" class="qrImg" alt="" style="position: absolute; left: 12px;" src="https://ssl.ptlogin2.qq.com/ptqrshow?appid=501004106&amp;e=2&amp;l=M&amp;s=3&amp;d=72&amp;v=4&amp;t=0.296348766241616&amp;daid=164&amp;pt_3rd_aid=0">
                    <span class="qrlogin_img_out" onmouseover="pt.plogin.showQrTips();" onmouseout="pt.plogin.hideQrTips();"></span>
                    <span id="qr_invalid" class="qr_invalid" onclick="pt.plogin.begin_qrlogin();" style="display: none;">
                        <span id="qr_mengban" class="qr_mengban"></span>
                        <span id="qr_invalid_tips" class="qr_invalid_tips"> 二维码失效 <br> 请点击刷新 </span>
                    </span>
            </span>
        </div>
    </div>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>