<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telphone=no"/>
<meta content="email=no" name="format-detection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>美容师</title>
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/citypicker.css}">
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/lbstyle.css}">
</head>
<body>
	<div class="loading">
		<div class="spinner"></div>
	</div>
	<div class="wrap has-footer">
		<div class="beautician-info">
			<div class="avatar">
				<img th:src="@{/store/wap/images/p2.jpg}" alt="">
				<span>高级</span>
			</div>
			<h3>蔡康永</h3>
			<div class="entire">
				<p>
					<span>1999</span>
					<span>评价</span>
				</p>
				<p>
					<span class="score"><span class="score-inner" style="width:70%"></span></span>
					<span>星级</span>
				</p>
				<p>
					<span>1999</span>
					<span>评价</span>
				</p>
			</div>
			<div class="infolist">
				<i class="icon-works"></i>
				<span>从业年限</span>
				<p><i class="years">5年</i></p>
			</div>
			<div class="infolist">
				<i class="icon-label"></i>
				<span>标　签</span>
				<p><i class="label">手法娴熟</i><i class="label">手法娴熟</i><i class="label">手法娴熟</i></p>
			</div>
			<div class="infolist">
				<i class="icon-declarat"></i>
				<span>服务宣言</span>
				<p>服务好，活好，人好，长得漂亮服务好，活好，人好，长得漂亮服务好，活好，人好，长得漂亮</p>
			</div>
			<div class="infolist">
				<i class="icon-store"></i>
				<span>所 在 店</span>
				<!-- 链接地址要写全 -->
				<p class="salon-address"><a href="http://map.baidu.com/mobile/webapp/search/search/qt=s&amp;wd=大望路华贸公寓4号楼/newmap=1&amp;ie=utf-8">大望路华贸公寓4号楼</a></p>
			</div>
			<!-- 评论 -->
			<div class="salon-review">
				<div class="review-top"><i class="icon-review"></i>评价1999条</div>
				<div class="com-item">
					<dl>
						<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>
						<dd class="uname">
							<i>用户132</i>
							<span class="levels"><i>Lv</i>5</span>
							<span class="score"><span class="score-inner" style="width:70%"></span></span>
						</dd>
						<dd class="times">2016-05-28 </dd>
					</dl>
					<div class="comment">
						<p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p>
						<div class="gallery">
							<span class="slide"><img th:src="@{/store/wap/images/p2.jpg}" alt=""></span>
							<span class="slide"><img th:src="@{/store/wap/images/banner6.jpg}" alt=""></span>
							<span class="slide"><img th:src="@{/store/wap/images/1.jpg}" alt=""></span>
						</div>
					</div>
					<div class="replay">
						<p>客服回复：谢谢亲的支持，每天美耶一直努力让您开心快乐并幸福~~o(*￣▽￣*)ブ</p>
						<p class="replay-times">2016-12-12</p>
					</div>
				</div>
				<a href="" class="more-review">查看全部评价</a>
			</div>
			<!-- 都来说 -->
			<a href="" class="evaluate">
				<div class="heading">大家都来说</div>
				<p><i>说</i>这家店美容师活好么？这家店美容师活多么？</p>
			</a>
		</div>
		<!-- 专业点评 -->
		<div class="offers professional">
			<p class="titles"><span>专业点评</span></p>
			<div class="com-item">
				<dl>
					<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>
					<dd class="uname">
						<i>用户132</i>
						<span class="lecturer">项目老师</span>
						<span class="score"><span class="score-inner" style="width:70%"></span></span>
					</dd>
				</dl>
				<div class="comment">
					<p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p>
				</div>
			</div>
		</div>
		<!-- 擅长项目 -->
		<div class="offers">
			<p class="titles"><span>擅长项目</span></p>
			<div class="hot-items">
				<dl>
					<dt><img th:src="@{/store/wap/images/mall03_16.jpg}" alt=""></dt>
					<dd>
						<a href="">
							<h3>奥马生机海洋精粹舒缓露奥马生机海洋精粹舒缓露</h3>
							<p class="prise"><span>¥<i>1680</i></span><del>¥289</del></p>
							<p class="features">
								<span class="score"><span class="score-inner" style="width:70%"></span></span>
								<span class="sales">100</span>
								<span class="comment">88</span>
							</p>
						</a>
					</dd>
					<dd class="slogan"><i>分</i><span>首付预约金，尾款到店补</span></dd>
				</dl>
				<dl>
					<dt><img th:src="@{/store/wap/images/mall03_16.jpg}" alt=""></dt>
					<dd>
						<a href="">
							<h3>奥马生机海洋精粹舒缓露奥马生机海洋精粹舒缓露</h3>
							<p class="prise"><span>¥<i>1680</i></span><del>¥289</del></p>
							<p class="features">
								<span class="score"><span class="score-inner" style="width:70%"></span></span>
								<span class="sales">100</span>
								<span class="comment">88</span>
							</p>
						</a>
					</dd>
					<dd class="slogan"><i>分</i><span>首付预约金，尾款到店补</span></dd>
				</dl>
				<a href="" class="more-items">查看全部&gt;&gt;</a>
			</div>
		</div>
		<!-- 我 -->
		<div class="offers shop">
			<p class="titles"><span>关于我</span></p>
			<div class="infos">
				<div class="banner"><img th:src="@{/store/wap/images/banner3.jpg}" alt=""></div>
				<p>直都要在，我们小小的举动让他们得到温暖。他们的微笑是我们最大的安慰。用爱心做事业！用感恩的心做人!</p>
			</div>
		</div>
	</div>
	<footer class="beautic-footer">
		<span class="collection">
			<i></i>
			<span>收藏</span>
		</span>
		<a href="" class="appointment">
			<span>联系TA</span>
		</a>
	</footer>
</body>
<script type="text/javascript" th:src="@{/store/wap/js/jquery.min.js}"></script>
<script type="text/javascript">
	$(function(){
		$('.loading').fadeOut();
		// 点击收藏
		$('.beautic-footer .collection').click(function(){
			if(!$(this).hasClass('active')){
				//ajax
				$(this).addClass('active');
			}
		});
	});
</script>
</html>