<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
    <div class="wrap has-footer" th:fragment="footer">
        <!-- footer -->
        <footer>
            <a th:href="@{/store/dynamic/wap/index}" class="active"><img th:src="@{/store/wap/images/nav-icon.png}" alt=""><i>首页</i></a>
            <a th:href="@{/store/dynamic/wap/malls}"><img th:src="@{/store/wap/images/nav-icon.png}" alt=""><i>分类</i></a>
            <a th:href="@{/store/dynamic/wap/activelist}"><img th:src="@{/store/wap/images/nav-icon.png}" alt=""><i>发现</i></a>
            <a th:href="@{/store/dynamic/wap/cart}"><img th:src="@{/store/wap/images/nav-icon.png}" alt=""><i>购物车</i></a>
            <a th:href="@{/store/dynamic/wap/myzone}"><img th:src="@{/store/wap/images/nav-icon.png}" alt=""><i>我的</i></a>
        </footer>
    </div>
</body>
</html>