<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no" />
<meta content="email=no" name="format-detection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>帮助中心</title>
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/base.css}">
</head>
<body>
	<div class="loading">
		<div class="spinner"></div>
	</div>
	<!-- 加载提示 -->
	<div id="addload">
		<div class="spiner"></div>
	</div>
	<div class="wrap">
		<div class="help">
			<h1>一.  选购商品</h1>
			<dl>
				<dt>如何选择合适的尺码</dt>
				<dd>您可以在商品详情页查看尺码参考表，根据您的需求选择商品尺码。</dd>
			</dl>
			<dl>
				<dt>每天美耶的商品都是正品吗</dt>
				<dd>每天美耶建立了一套完整的自主研发及供应商资质审核流程，销售的商品均从正规渠道采购及生产，我们承诺，每天美耶售卖的商品均为正品。</dd>
			</dl>
			<dl>
				<dt>商品实物与图片有色差吗？</dt>
				<dd>每天美耶的商品照片均以实物拍摄，颜色经设计师校对，由于不同的电脑显示器、光线、亮度都有差异，难以避免造成轻微色差。</dd>
			</dl>
			<h1>二.结算支付</h1>
			<dl>
				<dt>每天美耶的支付方式有哪些?</dt>
				<dd>每天美耶支持支付宝支付、微信支付2种支付方式。</dd>
			</dl>
			<dl>
				<dt>如何免运费？</dt>
				<dd>对于单笔所购商品总价金额（不含运费）大于或等于199元，我们提供一次免费送货服务，若消费金额不满199元，则全国统一收取运费10元/单。</dd>
			</dl>
			<dl>
				<dt>在哪里查看我的红包？</dt>
				<dd>登录每天美耶，在“我的-我的红包”中可查看您的红包，包括未使用、已使用、已过期红包。</dd>
			</dl>
			<dl>
				<dt>全场通用红包是什么？</dt>
				<dd>每天美耶所有产品都可使用全场通用红包（不能抵扣运费），全场通用红包有效期及使用条件以具体活动为准。</dd>
			</dl>
			<dl>
				<dt>结算支付时如何使用红包？</dt>
				<dd>您在提交订单时，页面中间会有一个“红包”标识，点击选择对应红包即可。如显示“无可用”，代表账号无红包或该商品无可使用红包。</dd>
			</dl>
			<dl>
				<dt>订单生成后我需要在多长时间内支付货款？</dt>
				<dd>为确保订单的有效性，常规订单（不含抢购订单）需要您在24小时内完成支付。</dd>
			</dl>
			<dl>
				<dt>在线支付已经成功，为什么我的订单状态还是显示“待付款”？</dt>
				<dd>一般来说，网上支付是即时到账的。但有时可能因为网络原因造成延迟，请您耐心等待，并及时查询您的银行卡账户余额，如果费用已扣，但订单状态依然是“待付款”，请及时联系客服处理。</dd>
			</dl>
			<h1>三. 订单修改</h1>
			<dl>
				<dt>如何修改订单信息？</dt>
				<dd>请您提供您的订单号和需要修改的信息给客服为您处理，发货后的订单不支持信息修改。</dd>
			</dl>
			<dl>
				<dt>如何取消订单？</dt>
				<dd>(1) 订单状态为“未支付”，您可直接点击取消。<br>(2) 订单状态为“待发货”，您可以联系客服处理。<br>(3) 订单状态为“待收货”，您可联系客服为您拦截物流，如未拦截成功，请您在到货后拒收包裹，届时客服会为您办理退款。</dd>
			</dl>
			<dl>
				<dt>如何修改历史收货地址？</dt>
				<dd>您可以在提交订单时增加或修改收货地址，也可以进入“我的”地址管理—收货地址，进行编辑修改和保存。</dd>
			</dl>
			<h1>四. 物流配送</h1>
			<dl>
				<dt>每天美耶用什么快递？</dt>
				<dd>每天美耶默认圆通快递，如您有特殊需求可在提交订单中备注，部分快递可能需补差价，我们会根据您的需求为您配送。</dd>
			</dl>
			<dl>
				<dt>我的订单什么时候可以发货？</dt>
				<dd>一般而言，17点前的订单当天发货，17点后的订单次日发货。活动期间因订单量太大，会有延迟发货的现象，敬请谅解！</dd>
			</dl>
			<dl>
				<dt>我的订单多长时间能送到？</dt>
				<dd>订单发货后，系统将物流信息更新至您的订单信息中，您可在我的订单详情中查看，具体送达时间视快递配送时间而定。如遇不可抗力因素，配送到达时间可能略有延迟。</dd>
			</dl>
			<dl>
				<dt>偏远地区能否送到？</dt>
				<dd>如果您的所在地区超出我们的配送范围，我们将尽力为您安排转快递配送，部分情况可能需要您到邻近的快递点自提。</dd>
			</dl>
			<dl>
				<dt>为什么我没收到货,订单却显示签收或者投递失败？</dt>
				<dd>(1) 没收到货，订单显示签收：建议您可以先和门卫或者家人同事核实下是否已代签收，如有疑问请联系客服查询。<br>(2) 没收到货，订单显示投递失败：如快递员多次无法联系上您，包裹将返回每天美耶仓库，包裹返回仓库三天内我们会为您办理退款。建议您下单时仔细检查联系方式是否正确，确保及时收货。</dd>
			</dl>
			<dl>
				<dt>拒收快递会收取费用吗？</dt>
				<dd>每天美耶订单拒收不收取任何费用。如您多次拒收，可能会对您的在平台的信誉造成影响，建议您可以签收包裹，挑选到合适的商品再办理退货。</dd>
			</dl>
			<dl>
				<dt>可以延迟收货吗？</dt>
				<dd>如果您无法按时收货，您可以联系快递员协商合适的配送时间、地点，以及收货人，或者联系客服帮您协调处理。</dd>
			</dl>
			<h1>五. 售后咨询</h1>
			<dl>
				<dt>每天美耶客服的联系方式是什么？</dt>
				<dd>您可以通过在线客服和电话联系客服。<br>400客服电话: <a href="tel:400-605-0605">400-605-0605</a></dd>
			</dl>
			<dl>
				<dt>包装破损怎么办？</dt>
				<dd>物流在运输过程中可能出现轻微刮损，请您签收包裹时务必先开箱验货：<br>(1) 如商品完好不影响使用，建议您签收包裹；<br>2) 如包装外观出现问题以至于出现商品破损或遗失，请您及时联系客服处理。</dd>
			</dl>
			<dl>
				<dt>我的订单错发/漏发了怎么办？</dt>
				<dd>由于商品存放仓库位置不同，一个订单中的商品可能会被拆分为多个包裹配送，请您先点击“我的订单”查看该订单是否被拆分为多个包裹。如果您发现包裹错发或漏发，请及时联系客服处理。</dd>
			</dl>
			<h1>六. 退货换货 </h1>
			<dl>
				<dt>每天美耶的退换货政策是什么样的？</dt>
				<dd>(1) 商品因质量问题可直接申请退换货。<br>(2) 非商品质量问题退换货：商品包装完好且不影响二次销售可在7天内无理由退换货。</dd>
			</dl>
			<dl>
				<dt>如何办理退货？</dt>
				<dd>您可在每天美耶APP自助办理退货，也可联系客服处理。退货流程如下：登录每天美耶APP—“我的”—“我的订单”—点击相应订单—申请售后，即可申请退货</dd>
			</dl>
			<dl>
				<dt>可以换货吗？</dt>
				<dd>支持换货的商品可以自助申请换货，您也可联系客服处理，个别特殊商品不提供换货服务。</dd>
			</dl>
			<dl>
				<dt>换货规则是怎么样的？</dt>
				<dd>(1) 支持换货的商品在订单列表申请售后中有换货选项，您可在签收后7天内申请换货。<br>(2) 换货提供更换同一商品的任意尺码或颜色，不能更换不同商品。<br>(3) 更换的商品价格必须和网站售卖价格（并非参与满减/打折等活动后的价格）一致才能操作换货。<br>(4) 不支持当场拒收换货。<br>(5) 如非商品质量问题引发的换货，您需自行支付运费寄回仓库，且不补贴运费，换货后的商品寄出运费由每天美耶承担。<br>(6) 提交换货申请后不能修改/添加/删除换货的商品，如需修改换货商品信息，只能取消换货申请重新提交。<br>(7) 如提交换货申请后15天内仓库没有收到换货商品，视为放弃换货，换货申请取消。<br>(8) 仓库收到回寄的换货商品并确认无误后，48小时内会将更换的商品重新寄出。</dd>
			</dl>
			<dl>
				<dt>退换货地址在哪里？</dt>
				<dd>您可在退货申请审核通过后，在订单页面进入退货详情查看退换货地址。</dd>
			</dl>
			<dl>
				<dt>没有单据能退货吗？</dt>
				<dd>如送货单丢失，请您用小纸条写上订单号、收货人姓名及联系电话，一并放在包裹中寄回。</dd>
			</dl>
			<dl>
				<dt>退货需要填写寄回物流信息吗？</dt>
				<dd>需要。为了确保第一时间为您处理退款，请您在“退货详情”处填写正确的寄回物流信息。</dd>
			</dl>
			<dl>
				<dt>不同订单退货能一起回寄吗？</dt>
				<dd>多个订单同一个退货地址方可一起寄回，并将所有退货包裹的送货单一起放在包裹里。</dd>
			</dl>
			<h1>七. 退款问题</h1>
			<dl>
				<dt>退款金额如何计算？</dt>
				<dd>按照实际支付货款退还。若您在该订单中使用过红包，则该红包不予返还，并按"使用红包后结算价"为商品退款。全场满199元包邮的订单，整单退货或者部分退货后剩下的商品金额不满199元，仍需支付该次发货运费，即退款金额为扣除发货运费后的金额。<br>例如：您的订单共消费了230元，您的退货有以下3种情况：<br>(1) 收到货之后退了其中一件价值50元的商品，则您留下的商品价值不满199元，需要扣除您10元发货运费，最终退回给您40元(50-10=40)。<br>(2) 收到货之后整单退回，您只需承担退回运费，退款时不需要扣除。<br>(3) 收到货之后退了其中一件价值20元的商品，则您留下的商品价值满足199元包邮，不需要收您10元发货运费，最终退回给您20元。</dd>
			</dl>
			<dl>
				<dt>退货的运费怎么支付？</dt>
				<dd>如非商品质量问题引发的退货，您需自行支付退回运费，且不补贴运费。</dd>
			</dl>
			<dl>
				<dt>退货后什么时候退款？</dt>
				<dd>仓库在签收您退货的包裹并确认无误后，48小时内为您办理退款。退款金额原路返还，不同银行的处理时间不同，预计1-5个工作日到账。</dd>
			</dl>
			<h1>八. 发票开具规则</h1>
			<dl>
				<dt>可以开发票吗？</dt>
				<dd>每天美耶商城所售商品都是正品行货，商品均可开具正规发票。</dd>
			</dl>
			<dl>
				<dt>如何获得发票？</dt>
				<dd>确认收货后，订单状态变更为已完成，即可在每天美耶APP—我的—发票管理中申请开发票，开票申请有效时间是支付时间的第二个月月末，一个订单对应一张发票，发票会在申请后的1-3天内寄出，如遇到任何问题均可联系客服协助解决。</dd>
			</dl>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/store/wap/js/jquery.min.js}"></script>
<script type="text/javascript">
	$(function(){
		$('.loading').fadeOut();
	});
</script>
</html>