<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no" />
<meta content="email=no" name="format-detection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>变美</title>
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/lbstyle.css}">
</head>
<body>
	<!-- 加载提示 -->
	<div id="addload">
		<div class="spiner"></div>
	</div>
	<div class="wrap lbarticle has-footer" id="lbarticle">
		<!-- 
		<div data-href="" class="art-item">
			
			<div class="users"><img src="http://resource.idengyun.com/resource/images/2017/04/0a14e304-dbda-4e54-b5ce-fc7a1a6f52eb.jpg" alt=""><span>喵喵</span></div>
			<div class="BGImg items1">
				<div style="background-image:url(http://resource.idengyun.com/resource/images/2017/04/f8bc98d0-3aa6-477b-9dca-ccc519c3753d.jpg);"></div>
			</div>
			<p>不知道下一次超声刀是什么时候，皱纹都看不见了啊，真变得太厉害了，我要当天山童姥！！！</p>
			
		</div> 
		-->
	
		<div class="art-item"><!-- <div data-href="" class="art-item"> -->
			
			<div class="heading" data-href="" >
				<div class="users"><img src="http://resource.idengyun.com/resource/images/2017/04/0a14e304-dbda-4e54-b5ce-fc7a1a6f52eb.jpg" alt=""><span>喵喵</span></div>
				<div class="BGImg items1">
					<div style="background-image:url(http://resource.idengyun.com/resource/images/2017/04/f8bc98d0-3aa6-477b-9dca-ccc519c3753d.jpg);"></div>
				</div>
				<p>不知道下一次超声刀是什么时候，皱纹都看不见了啊，真变得太厉害了，我要当天山童姥！！！</p>
			</div>

			<div class="commodity" good-id=""><span>泰妍雅集丰韵套装</span></div>
			<div class="art-menu">
				<span class="browsed">12345</span>
				<span class="comments">12442</span>
				<span class="praised">75214</span>
				<span class="shared">12347</span>
			</div>
		</div>
		<!-- 占位 -->
		<div class="tombsign">
			<div></div><div></div><div></div>
		</div>
	</div>
	<footer>
		<a href="./index2.html" class="active"><img src="./images/nav-icon.png" alt=""><i>首页</i></a>
		<a href="./mallslist2.html"><img src="./images/nav-icon.png" alt=""><i>分类</i></a>
		<a href="./find.html"><img src="./images/nav-icon.png" alt=""><i>发现</i></a>
		<a href="./myzone.html"><img src="./images/nav-icon.png" alt=""><i>我的</i></a>
		<a href="./myzone.html"><img src="./images/nav-icon.png" alt=""><i>我的</i></a>
	</footer>
</body>
<script type="text/javascript" th:src="@{/store/wap/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/store/wap/js/lbaritcle.js}"></script>
</html>