<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telphone=no"/>
<meta content="email=no" name="format-detection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>医美</title>
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/flexslider.css}">
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/base.css}">
</head>
<body>
	<div class="loading">
		<div class="spinner"></div>
	</div>
	<div id="addload">
		<div class="spiner"></div>
	</div>
	<div class="wrap medical">
		<div class="banner flexslider">
			<ul class="slides">
				<li><a href="#"><img th:src="@{/store/wap/images/banner.jpg}"></a></li>
				<li><a href="#"><img th:src="@{/store/wap/images/banner.jpg}"></a></li>
			</ul>
		</div>
		<div class="tab-box">
			<nav class="nav">
				<span class="active">医院主页</span>
				<span>项目宝典</span>
				<span>医生团队</span>
				<span>展示案例</span>
			</nav>
			<div class="tab-inner">
				<!-- 医院主页 -->
				<div class="tab-item ml-index">
					<div class="banner">
						<img th:src="@{/store/wap/images/banner9.jpg}" alt="">
						<p>登云嘉人医疗美容中心，登云健康美业集团旗下的医疗美容机构，1982年创建于上海，是国家卫生部门严格审批成立的整形专科机构。目前已拥有35年临床经验，20项专利，10万个成功案例。它坚守“资料安全、医疗安全、医器安全、团队安全、沟通安全、售后安全”6大安全系统，始终为顾客提供安全可靠的医疗美容服务。</p>
						<p>作为提供高端医疗美容服务的顶级品牌，登云嘉人医美秉承健康美容之精髓，兼收并蓄各国审美理念，专注探索医学美容科技新知，并致力于将高新科技应用于抗衰老、微整形美容、整形美容、皮肤美容等领域，致力为顾客提供领先、时尚、安全、可靠的医疗美容服务。</p>
						<p>2012年，登云嘉人医美与韩国IFACE整形外科达成战略合作，将国际顶级的医学美容技术带入中国，成为中韩整形美容技术交流的权威平台，华东地区中韩整形疑难修复中心，努力为中国爱美人士提供专业化、国际化、品牌化的医学美容服务。</p>
						<p>2017年，登云嘉人医美引入台湾医疗团队。台湾医疗技术在国际上享有盛名，加上台湾长久发展的时尚、医学美容概念，更为嘉人医美注入了高端国际医疗的专业元素。35年初心未改，登云嘉人医美沉淀了强大的品牌实力，被中央电视台选为央视合作伙伴。</p>
						<dl>
							<dt>5大医美系统</dt>
							<dd>光电中心（皮肤分层管理）</dd>
							<dd>微创美容（微创塑形/微创脸型雕塑）</dd>
							<dd>整形外科（美眼/美鼻/美胸/体雕）</dd>
							<dd>体形管理</dd>
							<dd>幸福私密</dd>
						</dl>
						<dl>
							<dt>经典技术</dt>
							<dd>专利微整（四维立体拉提）</dd>
							<dd>艺术线雕 青春定格</dd>
							<dd>美杜莎综合美眼</dd>
							<dd>5D八度艺术美鼻</dd>
							<dd>优弧美胸</dd>
							<dd>液态黄金活细胞丰胸</dd>
							<dd>明星体雕</dd>
						</dl>
					</div>
					<div class="dropmenu">查看全部简介</div>
					<div class="offers">
						<p class="titles"><span>今日推荐</span></p>
						<div class="hot-items">
							<dl>
								<dt><img th:src="@{/store/wap/images/mall03_16.jpg}" alt=""></dt>
								<dd>
									<a href="">
										<h3>奥马生机海洋精粹舒缓露奥马生机海洋精粹舒缓露</h3>
										<p class="local">周敏 深圳流花医院整形美容科</p>
										<p class="prise">
											<span>¥<i>1680</i></span>
											<del>¥289</del>
											<span class="reservat">100</span>
										</p>
									</a>
								</dd>
							</dl>
							<dl>
								<dt><img th:src="@{/store/wap/images/mall03_16.jpg}" alt=""></dt>
								<dd>
									<a href="">
										<h3>奥马生机海洋精粹舒缓露奥马生机海洋精粹舒缓露</h3>
										<p class="local">周敏 深圳流花医院整形美容科</p>
										<p class="prise">
											<span>¥<i>1680</i></span>
											<del>¥289</del>
											<span class="reservat">100</span>
										</p>
									</a>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- 项目宝典 文章-->
				<div class="tab-item item-list" id="article" data-page="1">
					<div data-href="" class="art-item">
						<div class="users"><img src="http://resource.idengyun.com/resource/images/2017/04/0a14e304-dbda-4e54-b5ce-fc7a1a6f52eb.jpg" alt=""><span>喵喵</span></div>
						<div class="BGImg items1">
							<div style="background-image:url(http://resource.idengyun.com/resource/images/2017/04/f8bc98d0-3aa6-477b-9dca-ccc519c3753d.jpg);"></div>
						</div>
						<p>不知道下一次超声刀是什么时候，皱纹都看不见了啊，真变得太厉害了，我要当天山童姥！！！</p>
						<div class="art-menu">
							<span class="browsed">12345</span>
							<span class="comments">12442</span>
							<span class="praised">75214</span>
							<span class="shared">12347</span>
						</div>
					</div>
				</div>
				<!-- 医生团队 -->
				<div class="tab-item" id="beautician" data-page="1">
					<dl>
						<dt><img th:src="@{/store/wap/images/mall03_16.jpg}" alt=""></dt>
						<dd>
							<a href="">
								<h3>陈倩<i>高级技师</i></h3>
								<p class="features">
									<span class="score"><span class="score-inner" style="width:70%"></span></span>
									<span class="reservat">100</span>
									<span class="comment">88</span>
								</p>
								<p class="ability">
									<span>手法娴</span>
									<span>水润秘籍</span>
									<span>活好</span>
									<span>无可挑剔</span>
								</p>
							</a>
						</dd>
					</dl>
				</div>
				<!-- 展示案例-->
				<div class="tab-item item-list" id="shared" data-page="1">
					<div class="banner">
						<img th:src="@{/store/wap/images/case04.jpg}" alt="">
						<img th:src="@{/store/wap/images/case01.jpg}" alt="">
						<img th:src="@{/store/wap/images/case02.jpg}" alt="">
						<img th:src="@{/store/wap/images/case03.jpg}" alt="">
					</div>
				</div>
				<!-- 占位 -->
				<div class="tombsign">
					<div></div><div></div><div></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/store/wap/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/store/wap/js/slider.js}"></script>
<script type="text/javascript" th:src="@{/store/wap/js/medicalndex.js}"></script>
</html>