<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telphone=no"/>
<meta content="email=no" name="format-detection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>评论详细</title>
<link rel="stylesheet" type="text/css" th:href="@{/store/wap/css/detail.css}">
</head>
<body>
	<div class="loading"><div class="spinner"></div></div>
	<div id="addload"><div class="spiner"></div></div>
	<div class="wrap">
		<div class="review" id="review">
			<div class="com-item">
				<dl>
					<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>
					<dd class="uname">
						<i>用户132</i>
						<span class="levels"><i>Lv</i>5</span>
					</dd>
					<dd class="times">2016-05-28 </dd>
				</dl>
				<div class="comment">
					<p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p>
					<div class="gallery">
						<span class="slide"><img th:src="@{/store/wap/images/p2.jpg}" alt=""></span>
						<span class="slide"><img th:src="@{/store/wap/images/banner6.jpg}" alt=""></span>
						<span class="slide"><img th:src="@{/store/wap/images/1.jpg}" alt=""></span>
					</div>
				</div>
				<div class="art-menu">
					<span class="praised">75214</span>
				</div>
			</div>
			<div class="reviewlist">
				<div class="heading">全部评价（1）</div>
				<div id="list">
					<div class="com-item">
						<dl>
							<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>
							<dd class="uname">
								<i>用户132</i>
								<span class="levels"><i>Lv</i>5</span>
							</dd>
							<dd class="times">2016-05-28 </dd>
						</dl>
						<div class="comment">
							<p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p>
						</div>
					</div>
					<div class="com-item">
						<dl>
							<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>
							<dd class="uname">
								<i>用户132</i>
								<span class="levels"><i>Lv</i>5</span>
							</dd>
							<dd class="times">2016-05-28 </dd>
						</dl>
						<div class="comment">
							<p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p>
						</div>
					</div>
				</div>
			</div>
			<div class="tombsign">
				<div></div><div></div><div></div>
			</div>
		</div>
		<footer class="post-comments">
			<input type="text" class="input-area" placeholder="发表评价..." onkeydown="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\.]/g,'')">
			<input type="button" class="post-btn" value="发送">
		</footer>
	</div>

</body>
<script type="text/javascript" th:src="@{/store/wap/js/jquery.min.js}"></script>
<script type="text/javascript">

	$(function(){
		var second = 100,
			$elm = $('#list'),
			$sign = $('.tombsign'),
			$page = 1;
		$('.loading').fadeOut();
		
		showItem();

		// 点赞

		$('.praised').click(function(){
			$(this).addClass('ispraise');
			// if
			// ajax
		});


		// 拉动加载
		$(window).scroll(function(){
			var scrollTop = $(this).scrollTop(),
				scrollHeight = $(document).height(),
				windowHeight = $(this).height();
		　　if(scrollTop + windowHeight == scrollHeight){
				loadComment();
		　　}

		});

		function loadComment(){

			if( !($elm.data('nomore')) && ($page < 4) && !($elm.data('isloading')) ) {
				
				// 设置加载状态，防止重复多次加载
				$elm.data('isloading',true)
				$.ajax({
					url:'../js/data.php',
					data:{

					},
					dataType: 'json',
					type:'get',
					beforeSend:function(){
						$sign.show();
					},
					success: function() {
						// 没有更多数据的判断条件
						var str = '';

						str +='<div class="com-item">'
							+'<dl>'
								+'<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>'
								+'<dd class="uname">'
									+'<i>用户132</i>'
									+'<span class="levels"><i>Lv</i>5</span>'
								+'</dd>'
								+'<dd class="times">2016-05-28 </dd>'
							+'</dl>'
							+'<div class="comment"><p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p></div>'
						+'</div>';
						str +='<div class="com-item">'
							+'<dl>'
								+'<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>'
								+'<dd class="uname">'
									+'<i>用户132</i>'
									+'<span class="levels"><i>Lv</i>5</span>'
								+'</dd>'
								+'<dd class="times">2016-05-28 </dd>'
							+'</dl>'
							+'<div class="comment"><p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p></div>'
						+'</div>';
						str +='<div class="com-item">'
							+'<dl>'
								+'<dt><img th:src="@{/store/wap/images/p2.jpg}" alt=""></dt>'
								+'<dd class="uname">'
									+'<i>用户132</i>'
									+'<span class="levels"><i>Lv</i>5</span>'
								+'</dd>'
								+'<dd class="times">2016-05-28 </dd>'
							+'</dl>'
							+'<div class="comment"><p>舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了舒服……做完肚子小小了</p></div>'
						+'</div>';
				
						$sign.fadeOut();
						$elm.append(str);//添加节点 
						$page++;//分页++
						$elm.data('isloading',false); //去掉加载限制

						// 判断到底啦条件
						if(($page >=4)) {
							$elm.data('nomore'); 
							$elm.append('<div class="no-more"></div>');
						};
						// 显示效果
						showItem();
					},
					error:function(e){
						$sign.fadeOut();
					}
				});
			}
		}

		function showItem(){
			$('#list .com-item').not('.isfinish').each(function(i,e){
				$(this).css({
		          '-webkit-animation':'fadeInUp 1s '+((i*100)+parseInt(second))+'ms ease both'
		        }).addClass('isfinish');
			});
		}

	});

</script>
</html>